作业/assignment10/SFW/Server_newEncoding/web/schema/CourseList.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://jw.nju.edu.cn/schema"
        xmlns:tns="http://jw.nju.edu.cn/schema"
        elementFormDefault="qualified">

    <include schemaLocation="Course.xsd"/>

    <complexType name="CourseListType">
        <sequence maxOccurs="unbounded" minOccurs="0">
            <element name="course" type="tns:CourseInfoType"/>
        </sequence>
    </complexType>

    <element name="courseList" type="tns:CourseListType"/>
</schema>