作业/assignment10/SFW/Server_newEncoding/web/schema/StudentList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://jw.nju.edu.cn/schema"
        xmlns:tns="http://jw.nju.edu.cn/schema"
        elementFormDefault="qualified">

	<include schemaLocation="Student.xsd" />

    <complexType name="StudentListType">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="student" type="tns:StudentInfoType" />
		</sequence>
	</complexType>

	<element name="studentList" type="tns:StudentListType" />
</schema>