作业/作业一/作业一/Course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jw.nju.edu.cn/schema" xmlns:tns="http://jw.nju.edu.cn/schema"  elementFormDefault="qualified">
	
 <xs:element name="Course">
    <xs:complexType>
  <xs:sequence>
   <xs:element name="CourseName" type="xs:string"/>
   <xs:element name="CourseID" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
</xs:element>
</schema>