作业/作业一/作业一/studentlist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jw.nju.edu.cn/schema" xmlns:tns="http://jw.nju.edu.cn/schema"  elementFormDefault="qualified">
	<import namespace="http://www.jw.nju.edu.cn/schema"
		schemaLocation="../bin/Student.xsd" />

    <complexType name="学生列表类型">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="student" type="tns:学生信息类型"></element>
		</sequence>
	</complexType>

	<element name="studentList" type="tns:学生列表类型"></element>
</schema>